:root {
    --background-color: rgb(206, 202, 202);
    --text-color: black;
    --titles-color: rgb(58, 153, 185);
}
body {
    background-color: var(--background-color);
    color: var(--text-color)
}
h3 {
    color:var(--titles-color);
}
header {
   color:var(--titles-color);
}
#Titolo{
    text-align: center;
}